/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
  }

  /* Applies to all <h1>...</h1> elements. */
h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }

.memory-field {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  border: 1px solid;
  /* temporary solution display */
  text-align: center;
  justify-content: center;
  align-items: center;
}

div .card {
  font-size:100px;
}

.image-1 {
  background-image: url('../images/cards/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-2 {
  background-image: url('../images/cards/2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-3 {
  background-image: url('../images/cards/3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-4 {
  background-image: url('../images/cards/4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-5 {
  background-image: url('../images/cards/5.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-6 {
  background-image: url('../images/cards/6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.image-7 {
  background-image: url('../images/cards/7.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-8 {
  background-image: url('../images/cards/8.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-9 {
  background-image: url('../images/cards/9.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-10 {
  background-image: url('../images/cards/10.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
