@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen&family=Raleway+Dots&display=swap');


* {
  display: border-box;
}
html, body {
  height: 100%;
}
/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

body {
  margin: 25px;
  padding: 0;
  /* background: rgb(250,173,46);
  background: linear-gradient(90deg, rgba(250,173,46,1) 0%, rgba(226,220,200,1) 35%, rgba(197,84,30,1) 100%); */
  background: rgb(32,25,65);
  background: radial-gradient(circle, rgba(32,25,65,0.500437675070028) 1%, rgba(226,220,200,1) 30%);
  font-family: 'Oxygen', sans-serif;  font-size: 14px;
}

:root {
--card-size: 120px;
/* colour scheme 1*/
/* --purple-blue: #201941;
--red-orange: #C5541E;
--yellow-orange: #FAAD2E;
--light-gray: #E2DCC8;
--font-color: var(--yellow-orange);
 */
/* colour scheme 2*/
--sand: #EFC87F;
--pink-red: #F28AB3;
--turquoise: #A5F7CE;
--aqua: #17EFBD;
--dul-pink: #D87DB7;
--purple-blue: #201941;
--red-orange: #C5541E;
--yellow-orange: #FAAD2E;
--light-gray: #E2DCC8;
--font-color: var(--purple-blue);
--font-navbar: var(--light-gray);
}

button {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  /* font-weight: bold;
  font-size: 16px; */
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(32,25,65);
  background: linear-gradient(90deg, rgba(32,25,65,1) 0%, rgba(23,239,189,1) 49%, rgba(32,25,65,1) 100%);
  color: var(--font-navbar);
  border-radius: 12px;
}

.logo {
  font-family: 'Raleway Dots', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: .5rem;
  color: white;
}

.nav-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--font-navbar);
  padding: 1rem;
  display: block;
}

.active {
  background-color: var(--sand);
  opacity: 0.7;
  border-radius: 12px;
} 

.active a {
  color: var(--purple-blue);
}

.nav-links li:hover {
  background-color: var(--red-orange);
  opacity: 1;
  border-radius: 12px;
}

.nav-links li:hover a {
  color: var(--font-navbar) !important;
}

fieldset {
  border-radius: 25px;
}

legend {
  text-align: center;
  background: linear-gradient(105deg, var(--yellow-orange), var(--red-orange));
  padding: 4px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 20%);
}

.game-details {
  padding: 20px 0;
}

.timer {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(342deg, var(--yellow-orange), var(--red-orange));
  border-radius: 25px;
  padding: 0 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  margin: auto 0;
  padding: 5px 10px;
}

.timer p {
  margin: auto 0;
}

.level i {
  font-size: 1.2rem;
  font-weight: bolder;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

.choice {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

input[type='radio'] {
  cursor: pointer;
}

.back-image, .level {
  display: flex;
  justify-self: space-around;
}

.level {
  text-align: center;
}

.back-image {
  width: auto;
}

.game-details {
  display: flex;
  justify-content: space-around;
}

fieldset {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, var(--yellow-orange), var(--red-orange));
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.memory-field {
  margin: 0 auto;
display: flex;
flex-direction: column;
/* background-color: red; */
width: fit-content;
gap: 10px;
}

.row {
display: flex;
flex-direction: row;
gap: 10px;
perspective: 800px;
}

.card {
display: flex;
width: var(--card-size);
height: var(--card-size);
/* background-color: yellowgreen; */
/* background: rgb(255,255,255);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(226,220,200,1) 36%); */
background: rgb(226,220,200);
background: linear-gradient(45deg, rgba(226,220,200,0.8491771708683473) 41%, rgba(250,173,46,1) 67%, rgba(197,84,30,1) 97%);
border-radius: 20%;
box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
/* temporary solution display */
text-align: center;
justify-content: center;
align-items: center;
position: relative;
transform-style: preserve-3d;
transition: all .5s ease;
}

/* div .card {
font-size:1;
} */

.front, .back {
width: var(--card-size);
height: var(--card-size);
position: absolute;
backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.toggleCard {
  transform: rotateY(-180deg);
}

/* define back images */
.image-1 {
background-image: url('../images/cards/1.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-2 {
background-image: url('../images/cards/2.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-3 {
background-image: url('../images/cards/3.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-4 {
background-image: url('../images/cards/4.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-5 {
background-image: url('../images/cards/5.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-6 {
background-image: url('../images/cards/6.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.image-7 {
background-image: url('../images/cards/7.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-8 {
background-image: url('../images/cards/8.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-9 {
background-image: url('../images/cards/9.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-10 {
background-image: url('../images/cards/10.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-11 {
background-image: url('../images/cards/11.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-12 {
background-image: url('../images/cards/12.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.image-13 {
background-image: url('../images/cards/13.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.image-14 {
background-image: url('../images/cards/14.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.image-15 {
background-image: url('../images/cards/15.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-16 {
background-image: url('../images/cards/16.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-17 {
background-image: url('../images/cards/17.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.image-18 {
background-image: url('../images/cards/18.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

/* define different backgrounds */
/* from www.cssmatic.com */
.sky {
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.rough-paper {
  background-image: url('../images/img-rough-paper-361x370.png');
}

/* from http://thepatternlibrary.com/ */

.flags {
  background-image: url('../images/bunting-flag.png');
}

.chalkboard {
  background-image: url('../images/chalkboard.jpg');
  color: white;
}

.chalkboard i {
  color: white;
}

.chalkboard #sound-toggle>i {
  color: white;
}

.chalkboard .navbar {
  border: 1px white;
}

.chalkboard .timer {
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2);
}
.plaid {
  background-image: url('../images/plaid.jpg');
}

#sound-toggle {
  font-size: 2rem;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: red;
  width: 20%;
  padding: 20px;
}

footer {
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

footer .social-links i {
  font-size: 1.5rem;
}

footer p {
  display: flex;
  justify-content: center;
}

footer > * {
  flex: 1;
}

.social-links {
  width: 10%;
  display: flex;
  justify-content: center;
}

.social-links > * {
  margin: 0 10px;
}
.copyright > * {
  align-items: baseline;
}

@media (max-width: 900px) {
  .logo {
    font-size: 1rem;
  }
  :root {
    --card-size: 90px;
  }
  level > * {
    display: flex;
    flex-direction: column;
  }
  
  footer .social-links i {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  
  :root {
    --card-size: 50px;
  }

  .level {
    font-size: .6rem;
  }

  .level i {
    font-size: .8rem;
  }

  .choice {
    font-size: .6rem;
  }

  footer span {
    font-size: .8rem;
  }

  button {
    font-size: .6rem;
  }

}
