@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 25px;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

/* variables definition */
:root {
  --card-size: 120px;

  /* colour scheme*/
  --sand: #EFC87F;
  --purple-blue: #201941;
  --red-orange: #C5541E;
  --yellow-orange: #FAAD2E;
  --light-gray: #E2DCC8;
  --font-navbar: var(--light-gray);
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(32, 25, 65);
  background: linear-gradient(90deg, rgba(32, 25, 65, 1) 0%, rgba(23, 239, 189, 1) 49%, rgba(32, 25, 65, 1) 100%);
  color: var(--font-navbar);
  border-radius: 12px;
}

.logo {
  font-family: 'Carter One', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: .5rem;
}

.logo a {
  text-decoration: none;
  color: var(--light-gray);

}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--font-navbar);
  padding: 1rem;
  display: block;
}

.active {
  background-color: var(--sand);
  opacity: 0.7;
  border-radius: 12px;
}

.active a {
  color: var(--purple-blue);
}

.nav-links li:hover {
  background-color: var(--red-orange);
  opacity: 1;
  border-radius: 12px;
}

.nav-links li:hover a {
  color: var(--font-navbar) !important;
}

button {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
  height: 3rem;
  margin: auto 0;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

/* Radio menues - Background, Level */
legend {
  text-align: center;
  background: linear-gradient(105deg, var(--yellow-orange), var(--red-orange));
  padding: 4px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 20%);
}

.game-details {
  padding: 20px 0;
}

/* timer */
.timer {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(342deg, var(--yellow-orange), var(--red-orange));
  border-radius: 25px;
  padding: 0 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  margin: auto 0;
  padding: 5px 10px;
}

.timer p {
  margin: auto 0;
}

.timer span {
  font-weight: 700;
}

/* level menu*/
.level i {
  font-size: 1.2rem;
  font-weight: bolder;
}

h1 {
  text-align: center;
  padding: 2px;
  margin: 0;
}

.choice {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

input[type='radio'] {
  cursor: pointer;
}

.back-image,
.level {
  display: flex;
}

.level {
  text-align: center;
}

.back-image {
  width: auto;
}

.game-details {
  display: flex;
  justify-content: space-around;
}

fieldset {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, var(--yellow-orange), var(--red-orange));
  border-radius: 25px;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

/* card size for the hard level */
#big {
  --card-size: 100px;
}

#big,
#big .row {
  gap: 5px;
}

/* field for the cards */
.memory-field {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: fit-content;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  perspective: 800px;
}

/* single card display with */
.card {
  display: flex;
  width: var(--card-size);
  height: var(--card-size);
  background: rgb(226, 220, 200);
  background: linear-gradient(45deg, rgba(226, 220, 200, 0.8491771708683473) 41%, rgba(250, 173, 46, 1) 67%, rgba(197, 84, 30, 1) 97%);
  border-radius: 20%;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: all .5s ease;
}

/* card face and back definition */
/* 3d flip effect learned and adapted from Coding with Russ video: Easy Flipcard Tutorial | HTML & CSS
*/
.front,
.back {
  width: var(--card-size);
  height: var(--card-size);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.toggleCard {
  transform: rotateY(-180deg);
}

/* modal */
#modal {
  font-size: 1.2rem;
  width: 50%;
  border-radius: 25px;
  border: 2px solid var(--purple-blue);
  color: var(--purple-blue);
  background: rgb(226, 220, 200);
  background: linear-gradient(45deg, rgba(226, 220, 200, 0.8491771708683473) 39%, rgba(250, 173, 46, 1) 86%);
  text-align: center;
}

#close-btn {
  height: 2rem;
  width: 10%;
  margin: auto auto;
  text-align: center;
  padding: 0;
}

.modal.closed {
  display: none;
}

#game-over {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-radius: 25px;
  border: 2px solid var(--purple-blue);
  color: var(--purple-blue);
  background: rgb(226, 220, 200);
  background: linear-gradient(45deg, rgba(226, 220, 200, 0.8491771708683473) 39%, rgba(250, 173, 46, 1) 86%);

}


/* Section on About Page */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

section h1 {
  padding: 2rem 0;
  font-size: 2rem;
}

article {
  font-family: Oxygen;
  font-size: 1.5rem;
  padding: 0 10%;
}

.image {
  text-align: center;
}

#memory-img {
  width: 350px;
}


/* define back images */
/* from https://pixabay.com/ by Christian Dorn */
.image-1 {
  background-image: url('../images/cards/1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-2 {
  background-image: url('../images/cards/2.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-3 {
  background-image: url('../images/cards/3.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-4 {
  background-image: url('../images/cards/4.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-5 {
  background-image: url('../images/cards/5.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-6 {
  background-image: url('../images/cards/6.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-7 {
  background-image: url('../images/cards/7.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-8 {
  background-image: url('../images/cards/8.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-9 {
  background-image: url('../images/cards/9.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-10 {
  background-image: url('../images/cards/10.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-11 {
  background-image: url('../images/cards/11.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-12 {
  background-image: url('../images/cards/12.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-13 {
  background-image: url('../images/cards/13.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-14 {
  background-image: url('../images/cards/14.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-15 {
  background-image: url('../images/cards/15.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-16 {
  background-image: url('../images/cards/16.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-17 {
  background-image: url('../images/cards/17.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-18 {
  background-image: url('../images/cards/18.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* define different backgrounds for the background change */

/* from www.cssmatic.com */
.rough-paper {
  background-image: url('../images/img-rough-paper-361x370.webp');
}

/* from http://thepatternlibrary.com/ */
.cycles {
  background-image: url('../images/cycles.webp');
  color: white;
}

.chalkboard {
  background-image: url('../images/chalkboard.webp');
  color: white;
}

.chalkboard i,
.cycles i {
  color: white;
}

.chalkboard #sound-toggle>i,
.cycles #sound-toggle>i {
  color: white;
}

.chalkboard .navbar,
.cycles .navbar {
  border: 1px white;
}

.chalkboard .timer,
.cycles .timer {
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2);
}

.chalkboard .fa-brands:hover,
.cycles .fa-brands:hover {
  color: var(--red-orange);
}

.plaid {
  background-image: url('../images/plaid.webp');
}

#sound-toggle {
  font-size: 1.5rem;
}

#sound-div,
#sound-div i {
  margin: 0px;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  padding: 20px;
}

#game-over p {
  text-align: center;
}

footer {
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

footer .social-links i {
  font-size: 1.5rem;
}

footer .social-links a {
  text-decoration: none;
  color: var(--purple-blue);
}

footer .social-links a:hover {
  color: var(--red-orange);
}

footer p {
  display: flex;
  justify-content: center;
}

footer>* {
  flex: 1;
}

.social-links {
  width: 10%;
  display: flex;
  justify-content: center;
}

.social-links>* {
  margin: 0 10px;
}

.copyright>* {
  align-items: baseline;
}

/* 404 page */
.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning img {
  padding: 20px;
  width: 50%;
  ;
}

.warning a,
.warning i {
  text-decoration: none;
  color: var(--yellow-orange);
}

.warning a:hover,
.warning a:hover i {
  color: var(--red-orange);
}

.warning span {
  color: var(--light-gray);
}

/* media queries */

/* medium screens */
@media (max-width: 900px) {
  :root {
    --card-size: 90px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .memory-field,
  .memory-field .row {
    gap: 20px;
  }

  #small {
    --card-size: 120px;
  }

  #medium {
    --card-size: 100px;
  }

  .modal {
    width: 60%;
    font-size: 1rem;
  }

  article {
    padding: 0 15%;
    font-size: 1.2rem;
  }


  footer .social-links i {
    font-size: 1.2rem;
  }
}

/* medium screens with the height up to 805px */
@media (max-height: 805px) {

  .game-details,
  .choice {
    padding: 10px 0;
  }

  #small,
  #medium,
  #big {
    --card-size: 55px;
  }

  section h1 {
    padding: 10px 0;
  }

  article h2 {
    margin: 5px 0;
  }

  article {
    padding: 0 15%;
    font-size: .9rem;
  }

  #memory-img {
    width: 200px;
  }

  footer {
    position: relative;
  }

}

/* small screens */
@media (max-width: 600px) {
  body {
    margin: 5px;
  }

  #small {
    --card-size: 80px;
  }

  #medium {
    --card-size: 65px;
  }

  #big {
    --card-size: 55px;
  }

  .navbar .logo {
    font-size: 1rem;
  }

  .navbar a {
    font-size: .8rem;
  }

  .game-details {
    padding-top: 30px;
  }

  .timer {
    font-size: 0.8rem;
  }

  .level {
    font-size: .6rem;
  }

  .level i {
    font-size: .8rem;
  }

  .memory-field>div {
    padding: 5px 0;
  }

  .memory-field,
  .memory-field .row {
    gap: 10px;
  }

  .modal {
    width: 90%;
    font-size: 1rem;
  }

  .modal p {
    font-size: 1rem;
  }

  .modal h1 {
    font-size: 1.4rem;
  }

  .choice {
    font-size: .6rem;
  }

  footer span {
    font-size: .8rem;
  }

  button {
    font-size: .8rem;
    height: 3rem;
    margin: auto 0;
    padding: 0 10px;
  }

  #sound-div {
    margin: auto 0px;
  }

  legend {
    font-size: .8rem;
  }

  fieldset {
    padding: 0 5px 5px 5px;
  }

  fieldset label {
    font-size: .8rem;
    padding-right: 2px;
  }

  section {
    padding: 0 10px;
  }

  section h1 {
    padding: 10px 0;
    font-size: 1.5rem;
  }

  article {
    font-size: .8rem;
    padding: 0 5%;
  }

  .image {
    text-align: center;
  }

  #memory-img {
    width: 200px;
  }

}

/* screens with the height up to 600px */
@media (max-height: 600px) {
  footer {
    position: relative;
  }
}

/* even smaller screens */
@media (max-width: 375px) {

  #small {
    --card-size: 70px;
  }

  #medium {
    --card-size: 55px;
  }

  #big {
    --card-size: 45px;
  }

  #game-over {
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 90%;
    font-size: 0.8rem;
  }

  .modal p,
  #game-over p {
    font-size: 0.8rem;
  }

  .modal h1,
  #game-over h1 {
    font-size: 1.2rem;
  }

}